@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,400;1,600&display=swap');

:root{
    --color-primaria:#2E4F4F;
    --cor-secundaria:#CBE4DE;
    --cor-terciaria:#2C3333;

    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;

}

*{
    margin: 0;
    padding: 0;
}


body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color:var(--cor-secundaria);
}
.titulo-destaque{
    color:var(--cor-terciaria)
}

.cabecalho{
    padding:2%  0  0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family:var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}


.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    gap:82px;
}

.imagem{
    width: 40%;
    height: 40%;
    border-radius: 15px;
    box-shadow: 15px -15px 10px var(--cor-terciaria);
    border: 2PX solid var(--cor-terciaria);
}

.apresentacao__conteudo{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap:40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}



.apresentacao__conteudo__texto,.informacoes_pessoais{
    font-size: 1.5rem;
    font-family:var(--fonte-secundaria);

}

.formacoes_academicas{
    font-size: 1.5rem;
    font-family:var(--fonte-secundaria);
    margin-top: 10px;
}


.formacoes_academicas_referencia{
    font-size: 1.5rem;
    color:var(--cor-secundaria);
    font-family:var(--fonte-secundaria);
    text-decoration: none;


}



.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link{
    /* background-color: #22d4fd; */
    display: flex;
    justify-content: center;
    gap:16px;
    border:2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    color:var(--cor-secundaria);
    font-family:var(--fonte-secundaria);
    text-decoration: none;

}

.apresentacao__links__link:hover{
    background-color: var(--cor-terciaria);
    font-size: 30px;
    border:4px solid var(--cor-secundaria);
    box-shadow: 5px 5px 5px  var(--cor-secundaria) ;
}

.rodape{
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;

}

/* paletas de cores
https://colorhunt.co/
 */




 @media (max-width: 1200px){
    .cabecalho{
        padding: 10% ;
    }
    .cabecalho__menu{
        display: flex;
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }

 }